<div>
  <nav>
    <a routerLink="">
      <div id="back" class="back">
        <div id="arrow" class="arrow">←</div>
        <div id="backText" class="backText">Панель показників</div>
      </div>
    </a>
    <div id="backText" class="backText">
      > Торговая точка {{shopId}}
    </div>
  </nav>

  <div class="doubleTable">
    <div class="tableStatusPercent">
      <table id="tableStatus" class="tableStatus">
        <thead class="thead">
          <tr>
            <th>
              Провайдер 1
            </th>
            <th>
              Провайдер 2
            </th>
            <th>
              Синхронізація
            </th>
          </tr>
        </thead>
        <tr>
          <td>
            adsf
          </td>
          <td>
            adsf
          </td>
          <td>
            adsf
          </td>
        </tr>
      </table>
    </div>
    <div class="tableInfoTTPercent">
      <table id="tableInfoTT" class="tableInfoTT">
        <thead class="thead">
          <tr>
            <th>

            </th>
            <th>
              Інформація по ТТ
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Номер ТТ
            </td>
            <td>
             {{shopId}}
            </td>
          <tr>
            <td>
              Графік роботи
            </td>
            <td>
              {{shopInfo.workTimeFrom}}-{{shopInfo.workTimeTo}}
            </td>
          </tr>
          <tr>
            <td>
              Регіон
            </td>
            <td>
              {{shopInfo.region}}
            </td>
          </tr>
          <tr>
            <td>
              Адреса
            </td>
            <td>
              {{shopInfo.city}} {{shopInfo.street}} {{shopInfo.number}}
            </td>
          </tr>
          <tr>
            <td>
              Провайдер
            </td>
            <td *ngFor="let provider of shopInfo.providers">
              {{provider.name}} {{provider.phoneNumber}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="statusFromDay" class="statusFromDay">
    <div id="infoStatusFromDay" class="infoStatusFromDay">
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="textInfo" class="textInfo">TT назв'язку</div>
      <div id="circle" class="circle" style="background-color: #FF4A3E;"></div>
      <div id="textInfo" class="textInfo">Проблеми в роботі</div>
      <div id="circle" class="circle" style="background-color: #C4C4C4;"></div>
      <div id="textInfo" class="textInfo">Інформація Відсутня</div>
    </div>
    <div id="statusFromDayValue" class="statusFromDayValue">
      <div id="line" class="line"><hr></div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 7)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">07:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 7)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">07:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 8)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">08:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 8)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">08:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 9)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">09:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 9)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">09:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 10)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">10:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 10)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">10:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 11)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">11:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 11)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">11:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 12)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">12:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 12)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">12:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 13)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">13:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 13)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">13:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 14)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">14:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 14)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">14:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 15)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">15:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 15)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">15:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 16)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">16:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 16)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">16:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 17)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">17:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 17)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">17:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 18)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">18:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 18)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">18:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 19)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">19:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 19)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">19:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 20)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">20:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 20)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">20:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 21)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">21:00</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay <= 21)&&(!statusMinutsForDay)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">21:30</div>
      </div>
      <div class="circleBlock">
        <div *ngIf="(hideStatusHourForDay < 22)" id="circle" class="circle" style="background-color: #C4C4C4;"></div>
        <div id="circleTime" class="circleTime">22:00</div>
      </div>
      <div class="circleBlock">
      </div>
    </div>
  </div>
  <div>
    <table id="tableDevice" class="tableDevice">
      <thead class="thead">
        <tr>
          <th>
            Назва пристрою
          </th>
          <th>
            Статус
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of deviceInShop.devices" class="tableDeviceName">
          <td>
            {{device.device}}
          </td>
          <td *ngIf="(device.status == 0)" style="color: #FF4A3E; background-color: rgba(0,0,0,.05);">
            {{device.strLogTime}}
          </td>
          <td *ngIf="(device.status == 1)" style="color: #177246;">
            {{device.strLogTime}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
