<div>
  <nav>
    <a routerLink="">
      <div id="back" class="back">
        <div id="arrow" class="arrow">←</div>
        <div id="backText" class="backText">Панель показників</div>
      </div>
    </a>
    <div id="backText" class="backText">
      > Торговая точка {{shopId}}
    </div>
  </nav>

  <div class="doubleTable">
    <div class="tableStatusPercent">
      <table id="tableStatus" class="tableStatus">
        <tr>
          <td id="tdTableStatus" class="tdTableStatus">
            Провайдер 1
          </td>
          <td id="tdTableStatus" class="tdTableStatus">
            Провайдер 2
          </td>
          <td id="tdTableStatus" class="tdTableStatus">
            Синхронізація
          </td>
        </tr>
        <tr>
          <td>
            adsf
          </td>
          <td>
            adsf
          </td>
          <td>
            adsf
          </td>
        </tr>
      </table>
    </div>
    <div class="tableInfoTTPercent">
      <table id="tableInfoTT" class="tableInfoTT">
        <tr id="tdTableStatus" class="tdTableStatus">
          Інформація по ТТ
        </tr>
        <tr>
          <td>
            Номер ТТ
          </td>
          <td>
            {{shopId}}
          </td>
        <tr>
          Графік роботи
          <td>{{shopInfo.workTimeFrom}}-{{shopInfo.workTimeTo}}</td>
        </tr>
        <tr>
          Регіон
          <td>
            {{shopInfo.region}}
          </td>
        </tr>
        <tr>
          Адреса
          <td>
            {{shopInfo.city}} {{shopInfo.street}} {{shopInfo.number}}
          </td>
        </tr>
        <tr>
          Провайдер
          <td *ngFor="let provider of shopInfo.providers">
            {{provider.name}} {{provider.phoneNumber}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="statusFromDay" class="statusFromDay">
    <div id="infoStatusFromDay" class="infoStatusFromDay">
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="textInfo" class="textInfo">TT назв'язку</div>
      <div id="circle" class="circle" style="background-color: #FF4A3E;"></div>
      <div id="textInfo" class="textInfo">Проблеми в роботі</div>
      <div id="circle" class="circle" style="background-color: #C4C4C4;"></div>
      <div id="textInfo" class="textInfo">Інформація Відсутня</div>
    </div>
    <div id="statusFromDayValue" class="statusFromDayValue">
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
      <div id="circle" class="circle" style="background-color: #94D196;"></div>
      <div id="line" class="line"><hr></div>
    </div>
  </div>
  <div>
    <table id="tableDevice" class="tableDevice">
      <tr>
        <td id="tdTableStatus" class="tdTableStatus">
          Назва пристрою
        </td>
        <td id="tdTableStatus" class="tdTableStatus">
          Статус
        </td>
      </tr>
      <tr *ngFor="let device of deviceInShop.devices" class="tableDeviceName">
        <td>
          {{device.device}}
        </td>
        <td *ngIf="(device.status == 1)" style="color: #FF4A3E;">
          {{device.logTime}}
        </td>
        <td *ngIf="(device.status == 0)" style="color: #94D196;">
          {{device.logTime}}
        </td>
      </tr>
    </table>
  </div>

</div>
