a {
  color: black;
}

nav{
    display:flex;
}

table {
  margin-top: 15px;
  margin-left: 10px;
}

th, tr, td {
  font-size: 21px;
  font-family: lato,sans-serif;
  text-align: center;
  border: 1px solid #000000;
}

  .back {
  display: inline-flex;
}

.backText {
  margin-left: 5px;
  margin-top: 8px;
  font-size: 18px;
}

.arrow {
  margin-left: 15px;
  height: 40px;
  width: 40px;
  align-items: center;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
}

.statusFromDay {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  width: 96%;
  height: 200px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.infoStatusFromDay {
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
  display: inline-flex;
  font-size: 21px;
  font-family: lato,sans-serif;
}

.circleBlock{
    position:relative;
    margin-right: 0.85%;
}

/deep/ .mat-tooltip {
  font-size: 21px;
  white-space: pre-line;
}

 .circle {
  position: relative;
  margin-top: 15px;
  margin-left: 18px;
  margin-right: 37px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.circleTime {
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: lato,sans-serif;
  font-size: 21px;
  display: inline-flex;
  width: 50px;
  height: 20px;
}

.textInfo {
  position: relative;
  margin-top: 18px;
  line-height: 21px;
}

.statusFromDayValue {
  position: relative;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
}

.line {
  border-top: 1px solid #000000;
  height: 10px;
}

.tableStatus {
  position: relative;
  width: 100%;
  height: 300px;
}

.tableInfoTT {
  position: relative;
  left: 10px;
  width: 100%;
  height: 300px;
}

.tableDevice {
  position: relative;
  margin-left: 20px;
  width: 96%;
}

.doubleTable {
  position: relative;
  margin-left: 10px;
  width: 96%;
  display: inline-flex;
}

.tableStatusPercent {
  width: 30%;
}
.tableInfoTTPercent{
    width:70%;
}

.thead {
  text-transform: uppercase !important;
}
