a {
  color: black;
}

nav{
    display:flex;
}

table {
  margin-top: 15px;
  margin-left: 10px;
}

 tr {
  font-size: 21px;
  font-family: lato,sans-serif;
  text-align: center;
  border: 1px solid #000000;
}

#cisco {
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 65%;
}
.tableDeviceName:nth-of-type(even) {
  background-color: #F3F3F3;
}

.td {
  font-size: 21px;
  font-family: lato,sans-serif;
  text-align: center;
  border: 1px solid #000000;
}

.back {
display: inline-flex;
}

.backText {
  margin-left: 5px;
  margin-top: 8px;
  font-size: 18px;
}

.arrow {
  margin-left: 15px;
  height: 40px;
  width: 40px;
  align-items: center;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
}

.statusFromDay {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  width: 96%;
  height: 150px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.infoStatusFromDay {
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
  display: inline-flex;
  font-size: 21px;
  font-family: lato,sans-serif;
}

.circleBlock{
    position:relative;
    margin-left: 0.45%;
}

/deep/ .mat-tooltip {
  font-size: 21px;
  white-space: pre-line;
}

 .circle {
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.circleTime {
  position: relative;
  margin-top: 5px;
  font-family: lato,sans-serif;
  font-size: 21px;
  display: inline-flex;
  width: 50px;
  height: 20px;
}

.textInfo {
  position: relative;
  margin-left: 10px;
  margin-top: 18px;
  line-height: 21px;
}

.statusFromDayValue {
  position: relative;
  margin-top: 15px;
  display: flex;
}

.line {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 5px;
  width: 1800px;
  color: #000000;
}

.tableStatus {
  position: relative;
  width: 100%;
  height: 300px;
}

.tableInfoTT {
  position: relative;
  left: 10px;
  width: 100%;
  height: 300px;
}

.tableDevice {
  position: relative;
  margin-left: 20px;
  width: 96%;
}

.doubleTable {
  position: relative;
  margin-left: 10px;
  width: 96%;
  display: inline-flex;
}

.tableStatusPercent {
  width: 30%;
}
.tableInfoTTPercent{
    width:70%;
}
