<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" position="end">
    <div *ngFor="let stock of stocks;">
      <div *ngIf="stock.status == 0" class="stocks" style="background-color: #FF4A3E;">
        <div id="Nstock" class="stocks">
          {{stock.stock}}
          <div id="S">S</div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div *ngFor="let stock of stocks;">
      <nav>
        <a routerLink ="/stock">
          <div *ngIf="stock.status == 1" class="stocks" style="background-color: #94D196;">
            <div id="Nstock" class="stocks">{{stock.stock}}</div>
            <div id="S" class="S">S</div>
          </div>
        </a>
      </nav>
      <div *ngIf="stock.status == 0" class="stocks" style="background-color: #FF4A3E;" (click)="drawer.toggle()">
        <div id="Nstock" class="stocks">{{stock.stock}}</div>
        <div id="Provider" class="Provaider">1</div>
        <div id="S" class="S">S</div>
      </div>
    </div>
  </div>
</mat-drawer-container>
